{% extends 'Hujjatlar/custom/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}


{% block tools %}
<div class="header__tools tools">
    <a href="#popup__folder" class="tools__link popup-link">
        <i class="bi bi-folder-fill"></i>
    </a>
    <a href="#upload__file" class="tools__link popup-link">
        <i class="bi bi-cloud-arrow-up-fill"></i>
    </a>
</div>
{% endblock %}


{% block content %}
<section class="main">
    <div class="main__container container">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__item">Главная</a> /
            <a href="#" class="breadcrumbs__item">Главная</a> /
            <a href="#" class="breadcrumbs__item">Длинное Название папки</a> /
            <a href="#" class="breadcrumbs__item">Главная</a> /
            <a href="#" class="breadcrumbs__item">Длинное Название папки</a> /
            <a href="#" class="breadcrumbs__item">Длинное Название папки</a> /
            <a href="#" class="breadcrumbs__item">Главная</a> /
            <a href="#" class="breadcrumbs__item breadcrumbs__item-active">Папка вторая</a> /
        </div>
        <h2 class="main__subtitle">
            папки
        </h2>
        <div class="folder__list">
            {% for folder in folders %}

            <div class="folder__item">
                <a href="?parent={{folder.pk}}&level={{folder.level}}" class="folder__link"  title="{{ folder.name }}">
                    <i class="bi bi-folder-fill"></i>
                    <p class="folder__name">{{ folder.name }}</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
            {% endfor %}
        </div>

        <h2 class="main__subtitle">
            файлы
        </h2>
        <div class="folder__list">
            <div class="folder__item">
                <a href="" class="folder__link" title="PDF файл">
                    <i class="bi bi-file-earmark-pdf-fill pdf__icon"></i>
                    <p class="folder__name">PDF файл</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
            <div class="folder__item">
                <a href="" class="folder__link"  title="Excel файл">
                    <i class="bi bi-table excel__icon"></i>
                    <p class="folder__name">Excel файл</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
            <div class="folder__item">
                <a href="" class="folder__link"  title="Картинка">
                    <i class="bi bi-image"></i>
                    <p class="folder__name">Картинка</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
            <div class="folder__item">
                <a href="" class="folder__link"  title="Музыка">
                    <i class="bi bi-file-earmark-music-fill"></i>
                    <p class="folder__name">Музыка</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
            <div class="folder__item">
                <a href="" class="folder__link"  title="Видео">
                    <i class="bi bi-file-play-fill"></i>
                    <p class="folder__name">Видео</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
            <div class="folder__item">
                <a href="" class="folder__link"  title="Архив">
                    <i class="bi bi-file-earmark-zip-fill"></i>
                    <p class="folder__name">Архив</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
            <div class="folder__item">
                <a href="" class="folder__link"  title="Неизвестный файл">
                    <i class="bi bi-file-earmark-fill"></i>
                    <p class="folder__name">Неизвестный файл</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
            <div class="folder__item">
                <a href="" class="folder__link"  title="Word файл">
                    <i class="bi bi-file-earmark-word-fill word__icon"></i>
                    <p class="folder__name">Word файл</p>
                </a>
                <a href="#" class="folder__delete">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}