{% extends 'Hujjatlar/custom/base.html' %}
{% load static %}
{% block title %}Reals{% endblock %}


{% block content %}
<section class="main">
    <div class="reals__container container">
        <div class="reals__list">
            <div class="reals__item">
                <iframe src="https://www.youtube-nocookie.com/embed/K2tMCWXeLgU?controls=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="reals__title">Первое видео</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}