{% extends 'Hujjatlar/custom/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}


<section class="main main__creating">
    <div class="excel__container container">
    {% if current != "" %}
        <div class="breadcrumbs">
        {% for report in reports %}
            <a href="?report_url={{report.slug}}" class="breadcrumbs__item">{{ report.title }}</a> /
        {% endfor %}
        </div>
            <iframe src="{{current}}" style="width: 100%; height: 95%;" ></iframe>
    {% else %}
        <h1>Нет отчетов</h1>
    {% endif %}
     </div>
</section>

{% endblock %}