{% extends 'Hujjatlar/custom/base.html' %}
{% load static %}
{% block title %}Курсы{% endblock %}


{% block content %}
<section class="main">
    <div class="courses__container container">
        <!-- <h2 class="courses__header header__title">Видео курсы</h2> -->
        <div class="courses__list">
            <a href="#" class="courses__item">
                <img src="{% static 'Hujjatlar/img/Course photo.jpg' %}" alt="course name" class="courses__image img">
                <p class="courses__type">Курс | 26 | Русский</p>
                <p class="courses__title">App Ijro от А до Я</p>
            </a>
            <a href="{% url 'reals' %}" class="courses__item">
                <img src="{% static 'Hujjatlar/img/test.jpg' %}" alt="course name" class="courses__image img">
                <p class="courses__type">Reals | 269 | O'zbek</p>
                <p class="courses__title">Excel qoidalari</p>
            </a>
            <a href="{% url 'reals' %}" class="courses__item">
                <img src="{% static 'Hujjatlar/img/test.jpg' %}" alt="course name" class="courses__image img">
                <p class="courses__type">Reals | 269 | English</p>
                <p class="courses__title">How to be master in Excel</p>
            </a>
            <a href="{% url 'reals' %}" class="courses__item">
                <img src="{% static 'Hujjatlar/img/test.jpg' %}" alt="course name" class="courses__image img">
                <p class="courses__type">Reals | 269 | O'zbek</p>
                <p class="courses__title">Word ni birga o'rganamiz</p>
            </a>
            <a href="#" class="courses__item">
                <img src="{% static 'Hujjatlar/img/test.jpg' %}" alt="course name" class="courses__image img">
                <p class="courses__type">Курс | 269 | English</p>
                <p class="courses__title">How to be productive</p>
            </a>
            <a href="#" class="courses__item">
                <img src="{% static 'Hujjatlar/img/Course photo.jpg' %}" alt="course name" class="courses__image img">
                <p class="courses__type">Курс | 26 | Русский</p>
                <p class="courses__title">App Ijro от А до Я</p>
            </a>
        </div>
    </div>
</section>
{% endblock %}